* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h5 {
    font-size: 14px;
}

p {
    margin: 0 0 10px;
    line-height: 1.5;
}
.wrapper {
    background-color: #FFF;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.sidebar-wrapper {
    background-color: #2a2f35;
    position: absolute;
    left: 0;
    width: 380px;
    height: 100vh;
    min-height: 800px;
    color: #FFF;
}

.profile-container {
    text-align: center;
    background-color: #2a2f35;
    padding:50px 30px 30px 30px;
    height: 237px;
}

.sidebar-wrapper .profile-img {
    max-width: 100px;
    margin-bottom: 15px;
    border: 3px solid #FFF;
    border-radius: 50px;
}

.sidebar-wrapper .name {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.sidebar-wrapper .tagline {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
}

.sidebar-wrapper .container-block {
    padding: 30px;
}

.list-unstyled {
    list-style: none;
}

.list-unstyled-flex {
    display: flex;
    justify-content: center;   
    list-style: none;
}

.list-unstyled-flex li {
    margin: 0 10px;
}

.list-unstyled li {
    margin-bottom: 18px;
}

a {
    color: #FFF;
    text-decoration: none;
}

i {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.6);
}

i:hover {
    transition: 0.3s;
    color: rgba(255, 255, 255, 1);
}

.sidebar-wrapper .container-block-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
}

.sidebar-wrapper .degree {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
}

.sidebar-wrapper .education-container .meta {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 0;
}

.sidebar-wrapper .education-container .time {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    margin-bottom: 0px;
}

.sidebar-wrapper .languages-container .lang-desc {
    color: rgba(255, 255, 255, 0.6);
}

.main-wrapper {
    padding: 60px;
    padding-left: 400px;
    /* min-height: 100vh; */
}

.main-wrapper .section {
    margin-bottom: 60px;
}

.main-wrapper .section-title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: #2a2f35;
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;

}

.main-wrapper .section-title .fa-user {
    font-size: 18px;
    margin-right: 8px;
    color: #2a2f35;
    position: relative;
}

.text-center {
    text-align: center;
}

.footer .copyright {
    line-height: 1.6;
    color: #545E6C;
    font-size: 15px;
}

.footer .fa-heart {
    font-size: 15px;
    color: #FB866A;
}

@media (max-width: 767px) {
    
    body {
        padding: 0;
    }
    
    .sidebar-wrapper {
        position: static;
        width: inherit;
    }

    .main-wrapper {
        padding: 30px;
    }
}