* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background-color: #44475a;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h5 {
    font-size: 14px;
}

p {
    margin: 0 0 10px;
    line-height: 1.5;
}
.wrapper {
    background-color: #44475a;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.sidebar-wrapper {
    background-color: #282a36;
    position: absolute;
    left: 0;
    width: 380px;
    height: 100vh;
    min-height: 800px;
    color: #FFF;
}

.profile-container {
    text-align: center;
    background-color: #282a36;
    padding:50px 30px 30px 30px;
    height: 237px;
}

.sidebar-wrapper .profile-img {
    max-width: 100px;
    margin-bottom: 15px;
    border: 3px solid #FFF;
    border-radius: 50px;
}

.sidebar-wrapper .name {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}

.sidebar-wrapper .tagline {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
}

.sidebar-wrapper .container-block {
    padding: 30px;
}

.list-unstyled {
    list-style: none;
}

.list-unstyled-flex {
    display: flex;
    justify-content: center;   
    list-style: none;
}

.list-unstyled-flex li {
    margin: 0 10px;
}

.list-unstyled li {
    margin-bottom: 18px;
}

a {
    color: #FFF;
    text-decoration: none;
}

svg{
    display: inline-block;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.6);
    height: 1em;
    overflow: visible;
    transition: 0.3s;
}

svg:hover {
    transform: scale(1.1);
    color: rgba(255, 255, 255, 1);
}

.sidebar-wrapper .container-block-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
}

.sidebar-wrapper .degree {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
}

.sidebar-wrapper .education-container .meta {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0;
}

.sidebar-wrapper .education-container .time {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    margin-bottom: 0px;
}

.sidebar-wrapper .languages-container .lang-desc {
    color: rgba(255, 255, 255, 0.6);
}

.main-wrapper {
    padding: 60px;
    padding-left: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-wrapper .section {
    margin-bottom: 60px;
}

.main-wrapper .section-title {
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;

}

.main-wrapper .section-title .fa-user {
    font-size: 18px;
    margin-right: 8px;
    color: rgba(255, 255, 255, 1);
    position: relative;
    vertical-align: -.125em;
}

.main-wrapper .summary-section .summary p {
    color: rgba(255, 255, 255, 1);
}

.form-container {
    width: 100%;
    max-width: 800px;
}

.contact-header {
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 10px;
}

.highlight {
    color: #ff79c6;
    margin-bottom: 15px;
}

.contact #contact-form input:not(.button), textarea {
    width: 100%;
    background: #282a36;
    border: 0;
    box-sizing: border-box;
    color: #FFF;
    display: block;
    font-size: 16px;
    margin-bottom: 3px;
    outline: none;
    padding: 10px 15px;
}

.contact #contact-form textarea {
    resize: vertical;
}

.contact #contact-form .button {
    cursor: pointer;
    background: #50fa7b;
    margin-top: 5px;
    color: #000;
    border: 0;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 12px;
    transition: 0.3s ease-in-out;
}

.contact #contact-form .button:hover {
    background: #40db67;
}

.text-center {
    text-align: center;
}

.footer .copyright {
    line-height: 1.6;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
}

.footer .fa-heart {
    font-size: 15px;
    color: #FB866A;
    vertical-align: -.125em;
}

@media (max-width: 767px) {
    
    body {
        padding: 0;
    }
    
    .sidebar-wrapper {
        position: static;
        width: inherit;
    }

    .main-wrapper {
        padding: 30px;
    }
}